<nz-header class="alignment">

  <div nz-row>

    <span nz-icon nzType="menu" nzTheme="outline" (click)="open()" class="ham__menu"></span>

  </div>
</nz-header>




<nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement" nzTitle="Daniel Santacruz"
      (nzOnClose)="close()">
      <ng-container *nzDrawerContent>
        <nz-list>
          <nz-list-item class="list__item" *ngFor="let item of drawerItems" [routerLink]="item.url" (click)="close()">

            <span nz-icon [nzType]="item.icon"></span>
            {{item.label}}

          </nz-list-item>
        </nz-list>
      </ng-container>
    </nz-drawer>
