
.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

}

