<div class="gird row">

  <div class="space-align-container col-12 md:col-12 lg:col-6">
    <div nz-space nzDirection="vertical" nzAlign="center">
      <div *nzSpaceItem class="space-align-block">

        <h1 nz-typography class="text__home">Hola, soy <span nz-typography nzType="success"><strong>Daniel</strong></span> FullStack
          Developer</h1>

      </div>
      <div *nzSpaceItem class="space-align-block">
        <button
          nz-button
          nzType="primary"
          [nzSize]="size"
          nzShape="round"
          (click)="onClickShowOption('resume')"
          >
          Ver mi CV
        </button>

        <button
          nz-button
          nzShape="round"
          (click)="onClickShowOption('github')"
          >
          <span nz-icon nzType="github" nzTheme="outline"></span>
        </button>

        <button nz-button nzShape="round" (click)="onClickShowOption('linkedIn')">
          <span nz-icon nzType="linkedin" nzTheme="fill"></span>
        </button>

        <button nz-button nzShape="round" (click)="onClickShowOption('email')">
          <span nz-icon nzType="mail" nzTheme="outline"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-column align-content-evenly align-items-center col-12 md:col-12 lg:col-6">
    <img class="home__image" src="assets/img/Daniel_Santacruz.png">
  </div>
</div>
