.skills__name {
  transition: 0.5s;
}

.skills__name:hover {
  transition: 0.5s;
  transform: scale(1.19);
  justify-content: center;
  align-items: center;
}

.animation__tech {
  animation: bounceInDown;
  animation-duration: 3s;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .mobil__top {
    margin-top: 2.5rem;
  }
}

@media (min-width: 574px) and (max-width: 768px) {
  .mobil__top {
    margin-top: none;
  }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mobil__top {
    margin-top: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobil__top {
    margin-top: none;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mobil__top {
    margin-top: none;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .mobil__top {
    margin-top: none;
  }
}
