<div class="grid mobil__top">

  <!-- Front End Technologies -->
  <div class="col-12 md:col-6 lg:col-3">
    <h3 class="text-center">Front-End Technologies</h3>
    <div class="flex justify-content-evenly flex-wrap card-container">
      <img
        class="skills__name flex w-4rem h-4rem border-round m-2"
        src="assets/icons/html.svg"
        alt="HTML"
        title="HTML"
        >

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/css.svg" alt="CSS" title="CSS">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/javascript.svg" alt="" title="JavaScript">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/angular.svg" alt="" title="Angular">

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/react.svg" alt=""> -->

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/bootstrap.svg" alt=""> -->

    </div>

  </div>

  <!-- Back End Technologies -->

  <div class="col-12 md:col-6 lg:col-3">

    <h3 class="text-center">Back-End Technologies</h3>

    <div class="flex justify-content-evenly flex-wrap card-container orange-container">

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/java.svg" alt=""> -->

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/nodejs.svg" alt="" title="NodeJS">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/typescript.svg" alt="" title="TypeScript">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/expressjs.svg" alt="" title="Express">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/nestjs.svg" alt="" title="NestJS">
      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/spring-boot.svg" alt=""> -->

    </div>

  </div>

  <!-- Databases -->

  <div class="col-12 md:col-6 lg:col-3">

    <h3 class="text-center">Databases</h3>

    <div class="flex justify-content-evenly flex-wrap card-container orange-container">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/firebase.svg" alt="" title="FireBase">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/mongodb.svg" alt="" title="MongoDB">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/mysql.svg" alt="" title="MySql">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/postgresql.svg" alt="" title="PostgreSql">

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/microsoftsqlserver.svg" alt=""> -->

    </div>

  </div>

  <!-- Technologies & Tools -->
  <div class="col-12 md:col-6 lg:col-3">

    <h3 class="text-center">Technologies & Tools</h3>

    <div class="flex justify-content-evenly flex-wrap card-container orange-container">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/npm.svg" alt="" title="npm">

      <img class="skills__name flex w-4rem h-4rem border-round m-2"src="assets/icons/github.svg" alt="" title="GitHub">

      <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/postman.svg" alt="" title="PostMan">

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" style="height: 64px; width: 100px;" src="assets/icons/pega.png" alt=""> -->

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" style="height: 64px; width: 64px;" src="assets/icons/mendix.png" alt=""> -->

      <!-- <img class="skills__name flex w-4rem h-4rem border-round m-2" src="assets/icons/figma.svg" alt=""> -->

      <img class="skills__name flex w-4rem h-4rem border-round m-2"src="assets/icons/git.svg" alt="" title="Git">
    </div>

  </div>
