<div class="row">

  <div class="grid space-align-container col-6">
    <img class="about__image" src="assets/img/Daniel_Santacruz_about.png">
  </div>

  <div class="col-6 space-align-container">
    <nz-card class="about__content ">
      <p class="text__about"> Soy un profesional que se adapta rápido al entorno de trabajo con capacidad de rápido aprendizaje y uso de mis conocimientos en base a experiencias previas, así mismo he desempeñado trabajos bajo la metodología ágil scrum, para tener un máximo desempeño a la hora de desarrollar aplicaciones o nuevas características con un alto contenido de calidad sin dejar de lado el rendimiento de las mismas.</p>
    </nz-card>
  </div>
</div>

