.about__image {
  display: flex;
  width: 50%;
  height: 100%;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 50%;
  object-fit: cover;
}

.space-align-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text__about {
  text-align: center;
}

.about__content {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  padding: 1.1rem 0;
  border-radius: 0.5rem;
}
